@{
    ViewBag.Title = "Contact - Saul's Coffee";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    One CoffeeBar Way<br />
    Detroit, MI 48226<br />
    <abbr title="Phone">P:</abbr>
    800.Call.Saul
</address>

