
@{
    ViewBag.Title = "OrderPickup";
}

<h2>Order Sumary</h2>

<form method="POST" action=" /Home/OrderSummary">
    <input type="hidden" id="orderNum" name="OrderNumber" value="1337" />
    <label for=DeliveryTime style="display:block"> Select Delivery Time</label>
    <input type="datetime-local" id="DeliveryTime" name="DeliveryTime" /><br /><br />
    <label for=drinkselection style="display:block"> Drink Selection</label>
    <select name="drinkselection" required>
        <option value="" selected="selected">Please Select One</option>
        <option value="Black Coffee">Black Coffee</option>
        <option value="Decaf Coffee">Decaf Coffee</option>
        <option value="Black Tea">Black Tea</option>
        <option value="Green Tea">Green Tea</option>
        <option value="White Tea">White Tea</option>
    </select><br /><br />
    <label for=drinksize style="display:block"> Drink Size</label>
    <select name="drinksize" required>
        <option value="" selected="selected">Please Select One</option>
        <option value="Small">Small</option>
        <option value="Medium">Medium</option>
        <option value="Large">Large</option>
    </select><br /><br />
    <input type="submit" value="Submit" />
</form>

